# .coveragerc to control coverage.py
[run]
branch = True
source = nestor_api

[report]
ignore_errors = True
show_missing = True

[html]
directory = coverage/html

[xml]
output = coverage/coverage.xml
